* {
    box-sizing: border-box;
}

::selection {
    background: rgba(201, 56, 29, 0.6);
    color: #fff;
}

//Firefox
::-moz-selection {
    background: rgba(201, 56, 29, 0.6);
    color: #fff;
}

div .link {
    text-align: right;

}

a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: rgba(172, 4, 4, 0.76)
}

body {
    margin: 0;
    padding: 0;
    font-family: serif, arial, sans-serif;
    background-color: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
}

/* Header */

header {
    height: 4.1rem;
    width: 100%;
    padding: 0 0 0 1%;
    background-color: rgba(255, 255, 255, 0.85);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgba(172, 4, 4, 0.76);
}

header h1 {
    font-size: 1.2rem;
    min-width: 100px;
}

header h1 a {
    color: #454545;
}

header img {
    margin-right: 0.5rem;
    margin-bottom: 0.3rem;
    vertical-align: bottom;
}

input {
    position: absolute;
    top: -100px;
}

label {
    position: absolute;
    top: -100px;
}

/* グローバルナビ */
.gnav {
    margin: 0 0 0 auto;
    background-color: rgba(172, 4, 4, 0.76);

}

nav {
    border-left: 1px solid rgba(172, 4, 4, 0.76);
    margin: 0 0 0 auto;
}

nav ul {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    border-bottom: 1px solid rgba(196, 32, 2, 0.72);
}

nav ul li {
    display: table-cell;
    min-width: 150px;
    font-size: 1.1rem;
}

nav ul li a {
    display: block;
    padding: 20px 0;
    color: #ededed;
}

nav ul li a:hover {
    color: #fff;
    background-color: rgba(160, 0, 0, 0.78);
    transition: all 0.4s;
}

nav ul li.current {
    color: rgb(172, 4, 4);
    background: rgb(255, 255, 255);
}


/* ここからトップページ */
.machu-picchu {
    margin-top: -4rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background: url('data/MachuPicchu-top.png') center / cover no-repeat;
    background-attachment: fixed;
}

.catch-copy {
    color: #ededed;
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
    padding-top: 20%;
    margin-top: 0;
    animation-name: fadein;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.concept {
    text-align: center;
    color: #ededed;
    margin: 5% 5%;
}

/*ここまでトップページ*/




.side-menu {
    font-size: 1.2rem;
    width: 20%;
    background-color: rgba(221, 210, 210, 0.99);
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    display: inline-block;

}



.side-menu table {
    width: 100%;
    background-color: rgba(172, 4, 4, 0.06);
    border-spacing: 0.5px;
    border-bottom: 1px solid rgba(172, 4, 4, 0.06);
}

.side-menu tr.center {
    text-align: center;
}

.side-menu td {
    width: 100px;
    border: 1px solid rgba(172, 4, 4, 0.76);
}


.side-menu a {
    padding: 0.5rem 0 0.5rem 1rem;
    display: block;
    background-color: rgba(172, 4, 4, 0.9);
    color: #ededed;
    transition: all 0.4s;
}

.side-menu .current {
    padding: 1rem 0 0.5rem 1rem;
    color: rgb(172, 4, 4);
    background: rgb(255, 255, 255);
}

.side-menu a:hover {
    padding: 0.5rem 0 0.5rem 1rem;
    background-color: rgb(142, 0, 0);
    color: #ededed;
    text-decoration: none;
}

.page-topic {
    font-size: 1.3rem;

}

.page-topic a {
    height: 100px;
    padding: 2rem 0 2rem 1rem;
    transition: all 0.4s;
}

.page-topic a:hover {
    padding: 2rem 0 2rem 1rem;
    background-color: rgb(142, 0, 0) color: #ededed;
    text-decoration: none;
}


.contents {
    position: relative;
    width: 70%;
    margin-left: 5%;
    padding-bottom: 100px;
    margin-top: 3rem;
}

.topicpage {
    position: relative;
    padding: 1.3rem 0;
    color: #454545;
    font-size: 2rem;
}

.topicpage::before,
.topicpage::after {
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 6px;
    box-sizing: border-box;
}

h2::before {
    top: 0;
    border-top: 2px solid #454545;
    border-bottom: 1px solid #454545;
}

h2::after {
    bottom: 0;
    border-top: 1px solid #454545;
    border-bottom: 2px solid #454545;
}

/* ここから*/

.catch-copy {
    border: none;
}

/*ここだけトップページ用*/

p {
    line-height: 2rem;
    font-size: 1rem;
    color: #454545;
}

h3 {
    color: #454545;
    font-size: 1.5rem;
    margin-top: 4rem;
    position: relative;
    padding: 0.1rem 0 0.5rem 1rem;
    border-left: 6px solid rgba(196, 32, 2, 0.72);
}

h3::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 1px solid #454545;
}

h4 {
    color: #454545;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 0;
}

.img {
    text-align: center;
    margin-top: 3rem;
}

.list {
    list-style: none;
    color: #454545;
    position: relative;
    padding: 0.5rem;
    font-weight: bold;
}

.list::before {
    content: '';
    position: absolute;
    border-color: rgba(196, 32, 2, 0.72);
    border-style: solid;
    border-radius: 50px;
    top: 1rem;
    left: -0.3rem;
}

dd {
    color: #454545;
    padding-bottom: 1rem;
}

.important {
    color: rgba(196, 32, 2, 0.72);
    font-weight: bold;
}

.tips {
    margin: 3rem 0rem 5rem 4rem;
    /* 枠外との間隔（上、右、下、左） */
    padding: 0rem 1rem;
    font-size: 0.9rem;
    /* 文字サイズ */
    border-left: 6px double rgba(196, 32, 2, 0.72);
    /* 線の太さ・線種・色 */
}

.tips .tips-title {
    color: rgba(196, 32, 2, 0.72);
    font-weight: bold;
}

.spanish {
    list-style: none;
    counter-reset: section;
    border: 2px;
    border-bottom-color: #454545;
    padding: 1rem;
    width: 100%;
    font-weight: bold;
}

.spanish p {
    padding-left: 2rem;
    font-size: 1.2rem;
    line-height: 0.5rem;
}

.spanish li {
    counter-increment: section;
    padding-top: 1rem;
}

.spanish li::before {
    content: counter(section);
    background: #662974;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 0.5rem;
}

rt {
    text-align: center;
    color: rgba(196, 32, 2, 0.72);
}

/* city top */


.city-pop {
    counter-reset: section;
    width: 60%;
    padding-top: 5rem;
    margin: auto;
}

.city-pop th {
    font-size: 1rem;
    background: rgba(172, 4, 4, 0.76);
    border-top: 4px solid rgba(172, 4, 4, 0.76);
    border-bottom: 4px solid rgba(172, 4, 4, 0.76);
    color: white;
}

.city-pop .city-th {
    width: 40%;
}

.city-pop td {
    background: white;
    border-bottom: 1px solid rgba(196, 32, 2, 0.72);
    color: #669;
    border-top: 1px solid transparent;
    text-align:
        width: 100px;
    padding-left: .5rem;
}

table.city-pop td a {
    padding: 0.5rem 0 0.5rem 1rem;
    color: rgba(196, 32, 2, 0.99);
    transition: all 0.4s;
    margin-left:
        height: 100%;
    width: 85%;
    border-radius: px;
}

.city-pop .city-rank {
    counter-increment: section;
    padding: 0.3rem;

}

.city-pop .city-rank::before {
    content: counter(section);
    background: #662974;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 1rem;
}


.city-pop .pop {
    text-align: right;
    width: 20%;
    padding-right: 1rem;
}



.city-pop a:hover {
    background: rgba(208, 96, 76, 0.78);
    color: white;
}

/* Tips */

.tipspage {
    border-bottom: 1px solid #454545;
    font-size: 2.5rem;
    font-weight: bold;
}


/* City */
.citypage {
    padding-bottom: .5rem;
    font-size: 2.5rem;
    font-weight: bold;
}

h2 span {
    display: block;
    margin-bottom: .2rem;
    color: #aaa;
    font-weight: normal;
    font-size: 1.2rem;
    border-bottom: solid 1px #aaa;
}


.map {
    text-align: center;
    position: relative;
    width: 70%;
    height: 0;
    padding-top: 50%;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.topnashi > p {
    margin-top: 0;
}

.picture img {
    text-align: center;
    max-width: 600px;
    max-height: 600px;
    height: auto;
}

.picture {
    text-align: center;
    margin: 3rem 0;
}

.fee {
    background-color: rgba(196, 32, 2, 0.43);
    width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 0.9rem;
}

.fee span {
    font-weight: bold;
}

.fee-title {
    font-weight: bold;
    color: rgba(172, 4, 4, 0.76);
    border-bottom: 1px solid rgba(172, 4, 4, 0.76);
}

.right {
    float: right;
    line-height: 1.5rem;
    transition: all 0.3s ease;
}

.right:hover {
    border-bottom: 1px solid rgba(172, 4, 4, 0.76);
    color: rgb(172, 4, 4);
}



/*footer*/
footer {
    width: 100%;
    height: 200px;
    border-top-width: 1px;
    border-top-color: #454545;
    border-top-style: dotted;
    background-color: rgba(172, 4, 4, 0.86);
}

.footer_contents {
    margin: 0 auto;
    width: 70%;
}



.link1 {
    text-align: left;
    float: left;
    margin-top: 4%;
    width: 35%;
    min-width: 10%;
    color: rgba(227, 227, 227, 0.83);
}

.f_link {
    color: rgba(227, 227, 227, 0.83);
}

.f_link a {
    color: rgba(227, 227, 227, 0.83);
    font-weight: bold;
    border-bottom: 1px solid #ededed;
    transition: all 0.4s ease;
    line-height: 1rem;
}

.f_link a:hover {
    color: rgba(255, 255, 0, 0.85);
    border-bottom: 1px solid rgba(255, 255, 0, 0.85);
}

.f {
    color: rgba(227, 227, 227, 0.83);

}

.link2 {
    text-align: right;
    float: left;
    margin-top: 5%;
    width: 30%;
}

.link2 img {
    padding: 1rem 1rem;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.link3 {
    text-align: right;
    float: left;
    margin-top: 5%;
    width: 35%;
}

.link3 img {
    padding: 1rem 1rem;
    width: 100%;
    height: auto;
    max-width: 100%;
}
